@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IQVIA Interview Project</h1>
    <p class="lead">Want tweets from a "bad twitter API"?  You've come to the right place.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<!-- Import JQuery -->
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>

<!-- Main Script -->
<script type="text/javascript">
    console.log("initalized.");

    var main = function () {
        $('#fetch').click(function (e) {
            // ajax call here...
            var start = encodeURIComponent($('#start').val());
            var end = encodeURIComponent($('#end').val());
            var threads = parseInt($('#threads').val());

            if (!start || !end) {
                //alert('Please select a start & end date!');
            }

            var url = "/Home/GetData?start=" + start + "&end=" + end + "&numThreads=" + threads;

            //$.get('http://localhost:3690/Home/GetData?start=5/27/2017&end=6/1/2017');

            //$.get('http://localhost:3690/Home/GetData?start=5/27/2017&end=6/1/2017', function (result) {
            $.get(url, function (result) {

                alert('response!');
                var res = JSON.parse(result);

                if (res.length == 0) {
                    alert("No tweets on this date, sorry man :(");
                }

                // todo: replace this with bootgrid plugin.
                var container = $("#container");
                container.empty();
                $('table').show();

                for (i = 0; i < res.length; i++) {

                    var dataRow = res[i];

                    var row = $("<tr><tr/>");

                    var col1 = $("<td>" + dataRow.stamp + "<td/>");
                    var col2 = $("<td>" + dataRow.text + "<td/>");
                    var col3 = $("<td>" + dataRow.id + "<td/>"); 

                    row.append(col1);
                    row.append(col2);
                    row.append(col3);

                    container.append(row);
                }
            });
        });
    }

    $(document).ready(main);

</script>

<div class="row">
    <div class="col-md-12">

        <button type="button" class="btn btn-success" id="fetch">Get Tweets</button>
        <input id="start" type="date" />
        <input id="end" type="date" />
        <input id="threads" type="number" />

        <table class="table" style="display: none">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Message</th>
                    <th>Id</th>
                </tr>
            </thead>
            <tbody id="container">

            </tbody>
        </table>

        <!--
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        -->
    </div>
    <!--
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    -->
</div>