@{
    ViewBag.Title = "Home Page";
}

<!-- Import JQuery -->
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>

<!-- Import download.js -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.js"></script>

<!-- Import Csv.js -->
<script type="text/javascript" src="~/Scripts/csv.min.js"></script>

<!-- Import Main JS script -->
<script type="text/javascript" src="~/Scripts/main.js"></script>

<div style="margin-top: 30px" class="jumbotron">
    <h1>IQVIA Interview Project</h1>
    <p class="lead">Want tweets from a "bad twitter API"?  You've come to the right place.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-success" id="fetch">Get Tweets</button>
        <input value="1-1-2017" id="start" type="date" />
        <input value="12-31-2017" id="end" type="date" />
        JSON <input id="json" type="checkbox" />
        CSV <input id="csv" type="checkbox" />

        <br />
        <br />
        <br />

        <span id="loading" style="display: none">
            <img src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif" />
            <span style="margin-left: 20px">Fetching your tweets!</span>
        </span>
    </div>
</div>